* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.justify-start{
  justify-content: start;
}

.space-between{
  justify-content: space-between;
}

.space-around{
  justify-content: space-around;
}

.align-end{
  align-items: end;
}

.align-center{
  align-items: center;
}

.wrap{
  flex-wrap: wrap;
}
