.admin-container{
    background-color: gray;
    height: 100vh;
    min-width: fit-content;   
    font-family: sans-serif;
}
.admin-users-container{
    background-color: aqua;
    width: 100%;
    min-width: fit-content;
    padding: 10px 20px;
    margin-bottom: 20px;
}
.admin-restaurants-container{
    background-color: aqua;
    width: 100%;
    min-width: fit-content;
    padding: 10px 20px;
    

}
.admin-user-wrapper{
    
    background-color: rgba(255, 107, 0, 1);
    padding: 10px 10px;
    border-radius: 25px;
    gap: 10px;
    

}
