.admin-container{
    background-color: gray;
    height: 100vh;
    min-width: fit-content;   
    font-family: sans-serif;
}
.admin-users-container{
    background-color: aqua;
    width: 100%;
    min-width: fit-content;
    padding: 10px 20px;
    /* margin-bottom: 20px; */
    border-radius: 15px;
    border-top-left-radius: 0;
}
.admin-restaurants-container{
    background-color: aqua;
    width: 100%;
    min-width: fit-content;
    padding: 10px 20px;
    border-radius: 15px;
    border-top-left-radius: 0;
    

}
.admin-user-wrapper{
    
    background-color: rgba(255, 107, 0, 1);
    padding: 10px 10px;
    border-radius: 25px;
    gap: 10px;
    

}
.users-container{
    background-color: rgb(80, 80, 80);
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
    border-radius: 40px;
}
.restaurant-container{
    padding: 10px 20px ;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(80, 80, 80);
    border-radius: 40px;
    
}

.user-heading{
    background-color: aquamarine;
    justify-content: space-between;
    padding: 15px 15px;
}

.restaurant-heading{
    background-color: aquamarine;
    justify-content: space-between;
    padding: 15px 15px;
    font-size: 15px;
}

ul li {
    list-style: none;
    font-weight: bold;
}
p{
    font-size: 15px;
    font-weight: bold;
    
    
}

.delete-btn{
    padding: 7px 20px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;  
}
.add-btn{
    background-color: blue;
    font-size: 16px;
    padding: 7px 20px;
    letter-spacing: 2px;
    font-weight: bold;
    border-radius: 40px;
}

.admin-wrapper{
    width: 50%;
    min-width: fit-content;
    background-color: blueviolet;
    
}
.admin-restaurant-wrapper{
    
    background-color: rgba(255, 107, 0, 1);
    padding: 10px 10px;
    border-radius: 25px;
    gap: 10px;
    

}
input{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.tab-btn{
    /* background-color: khaki; */
}
.bttn-user{
    border-top-left-radius: 10px;
    background-color: red;
    border: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 20px;
    font-weight: bold;
    
}
.bttn-restaurant{
    border-top-right-radius: 10px;
    background-color: red;
    border: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 20px;
    font-weight: bold;
}